.button {
    padding: 5px 10px;
    background-color: #5a9c37;
    color: rgb(18, 15, 15);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
  }
  
  .button:hover {
    background-color: #88a48a;
  }
  
  .styled-label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
    
  }
  .styled-input {
    width: 200px;
    height: 18px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .styled-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .centered-element {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the element takes up at least the viewport height */
  }
  